<article class="{{post_class}}">
    <header class="post-header">
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
    </header>            
    <p>{{excerpt words="25"}}<a class="read-more" href="{{url}}">read more</a></p>
    <footer class="post-footer">
        <span class="post-authorinfo">
            By {{author}} {{tags prefix=" on "}} at <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format='MMM Do YYYY'}}</time>    
        </span>
        <span class="tags">
            {{tags}}
        </span>
    </footer>
</article>