<header class="page-header">
    {{#if @blog.cover_image}}
    <img class="page-header__cover-image" src="{{@blog.cover_image}}" alt="Blog Cover Image" >
    {{/if}}

    {{#if @blog.logo}}
    <div class="page-header__logo">
        <a class="blog-logo" href="{{@blog.url}}">
            <img src="{{@blog.logo}}" alt="Blog Logo" >
        </a>
    </div>
    {{else}}
    <div class="page-header__bloginfo">
        <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
        <h3 class="main-header__blog-description">
            {{@blog.description}}
        </h3>
    </div>
    {{/if}}
    

    <nav>
        {{navigation}}
    </nav>

</header>