{{!< default.hbs }}
{{> page-header}}
<div class="content-wrap">
    {{#post}}
        <article "post-full">
            <h1>{{title}}</h1>
            <p>{{{content}}}</p>
        </article>
    {{/post}}
</div>