@charset "UTF-8";
:root {
  --body-black: #1C1810;
  --body-grey: #34322d;
  --accent-dark-a: #594471;
  --accent-dark-b: #2090CD;
  --shade-mid: #738C88;
  --accent-light-b: #9BCCC8;
  --lightest-a: #f4f6f5;
  --lightest-b: #e0f1fa;
  --padding-md: 0.5em;
  --padding-lg: 1.5em; }

:root {
  font-size: calc(15px + 0.33vw); }

pre, th, td, input {
  padding: var(--padding-md); }

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--body-black);
  line-height: 1.2em; }

a {
  color: var(--accent-dark-b);
  text-decoration: none; }

a:hover {
  color: var(--accent-light-b); }

p {
  max-width: 28em;
  line-height: 1.35em; }

nav {
  display: inline-block;
  padding: var(--padding-md) var(--padding-lg) var(--padding-md) var(--padding-lg); }

h1, h2, h3, h4, h5, h6, legend {
  color: var(--body-black);
  font-family: 'Merriweather', serif; }

h1 > a, h2 > a {
  color: inherit; }

blockquote {
  padding-left: 1em;
  border-left: 0.25em solid var(--shade-mid);
  color: var(--body-grey);
  font-family: 'Merriweather', serif;
  font-weight: 300; }

ol, ul {
  line-height: 1.5em; }

table {
  text-align: center;
  border-collapse: collapse; }

caption, figcaption {
  font-family: 'Merriweather', serif;
  font-style: italic;
  color: var(--body-grey);
  margin-bottom: 0.25em; }

thead, tfoot {
  color: white;
  background: var(--shade-mid); }

th, td {
  font-weight: inherit; }

tbody th, tbody td {
  border: 1px solid #e4e4e4; }

tbody > tr:nth-child(2n+1) {
  background: var(--lightest-a); }

pre {
  background: var(--lightest-a); }

dt {
  font-weight: bold; }

dd {
  font-style: italic;
  color: var(--body-grey); }

kbd, code, samp, var {
  background: var(--lightest-a);
  color: var(--accent-dark-a); }

figure {
  text-align: center;
  padding: 0.25em;
  border: 1px solid var(--shade-mid); }

label[for=textarea] {
  vertical-align: top; }

.error::before {
  font-size: 0.85em;
  content: "\274c";
  margin-right: 0.5em; }

button, input[type=submit], input[type=button], input[type=reset] {
  background: var(--accent-dark-a);
  color: white;
  font-weight: lighter;
  font-size: 1.2em;
  border: 0;
  padding: var(--padding-md);
  margin: 0.25em;
  border-radius: 999px;
  cursor: pointer; }

button:not(:disabled):hover, input[type=submit]:not(:disabled):hover, input[type=button]:not(:disabled):hover, input[type=reset]:not(:disabled):hover {
  filter: brightness(1.2); }

button:disabled, input[type=submit]:disabled, input[type=button]:disabled, input[type=reset]:disabled {
  background: var(--accent-light-b);
  color: var(--lightest-b);
  cursor: default; }

button[type=submit], input[type=submit] {
  background: var(--accent-dark-b); }

.page-header, .site-footer, .content-wrap {
  display: grid;
  justify-content: center;
  position: relative; }

article {
  margin: 3em 0; }

.read-more::before {
  content: "...";
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 50%);
  display: inline-block;
  text-align: right;
  width: 2em;
  margin-left: -1em; }

.read-more::after {
  content: " »"; }

.nav {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style-type: none;
  border: 0; }

.nav li {
  margin: 0 1em; }

.page-header {
  display: flex;
  padding-top: 1em;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; }
  .page-header a, .page-header h1, .page-header h3 {
    color: var(--body-black); }

.blog-logo {
  bottom: 0; }
  .blog-logo img {
    object-fit: cover;
    max-width: 600px;
    max-height: 200px; }

.page-header__bloginfo h1 {
  font-size: 5em;
  line-height: 1em;
  margin: 0; }
.page-header__bloginfo h3 {
  margin: 0; }

.page-header__cover-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: -1; }

.pagination {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.site-footer {
  text-align: center;
  background: var(--lightest-a);
  padding: 1em; }

.site-footer-nav {
  text-align: center;
  display: block; }

.tags {
  display: block; }
  .tags a {
    color: var(--shade-mid); }

/*# sourceMappingURL=screen.css.map */
