$body-width: 25em;

.page-header, .site-footer, .content-wrap {
    display: grid;
    justify-content: center;
    position: relative;
}

article {
    margin: 3em 0;
}

.read-more::before {
    content: "...";
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%);
    display: inline-block;
    text-align: right;
    width: 2em;
    margin-left: -1em;
}

.read-more::after {
    content: " »";
}

.nav {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style-type: none;
    border: 0;
}

.nav li {
    margin: 0 1em;
}

.page-header {
    display: flex;
    padding-top: 1em;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    a, h1, h3 {
        color: var(--body-black);
    }
}

.blog-logo {
    bottom: 0;
    img {
        object-fit: cover;
        max-width: 600px;
        max-height: 200px;
    }
}

.page-header__bloginfo {

    h1 {
        font-size: 5em;
        line-height: 1em;
        margin: 0;
    }
    h3 {
        margin: 0;
    }
}
.page-header__cover-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: -1;
}

.pagination {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.site-footer {
    text-align: center;
    background: var(--lightest-a);
    padding: 1em;
}

.site-footer-nav {
    text-align: center;
    display: block;
}

.tags {
    display: block;
    a {
        color: var(--shade-mid);
    }
}