:root {
    --body-black: #1C1810;
    --body-grey: #34322d;
    --accent-dark-a: #594471;
    --accent-dark-b: #2090CD;
    --shade-mid: #738C88;

    --accent-light-b: #9BCCC8;
    --lightest-a: #f4f6f5;
    --lightest-b: #e0f1fa;

    --padding-md: 0.5em;
    --padding-lg: 1.5em;
}